<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>João Monteiro</title>
</head>
<body>
    <h1 class="title">Thought of the Day -> Learning Full Stack</h1>
    <p>        
        Learning the full stack roadmap has been interesting. Right now, I'm using Java with Quarkus for the backend and Angular for the front-end.</p>
        <p>
        I'm not entirely sure where the industry stands on front-end technologies, but I’m confident that many systems are powered by Java behind the scenes.</p>
        <p>
        I really enjoy working with Single Page Applications (SPA). As a full-stack engineer, everything becomes well-integrated and easier to manage.
    </p>Handling databases, API calls, and other tasks becomes much simpler when you're responsible for the entire stack.
        <p>Although I currently prefer the backend, I’m making an effort to learn more about Angular because I really appreciate how it works.
        Gonna build more stuff now, bye bye :-)</p>
</body>
</html>