<header>
  <h1>
      <a class="title" >Hi I'am João</a>
  </h1>
  <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/project">Projects</a>
      <a routerLink="/blog">Blog</a>
      <a href="https://github.com/joaofcmont"  target="_blank" class="github" > Github
      </a>
  </nav>
</header>
<body>
<p class="description">I am a Fullstack Java Developer who likes to run, coffee, and francesinha.</p>
<!--
<p> YOU CAN GET MY CV 
  <a href="assets/resume.pdf" target="_blank">HERE</a>
  </p>>
  -->
</body>